/* colors
"primary": "#0d9488", // Teal 600
"primary-hover": "#0f766e", // Teal 700
"navy-bg": "#020617", // Dark Navy Blue 950
"navy-card": "#0f172a", // Navy Blue 900
 "navy-sidebar": "#070c1b", // Slightly darker navy for sidebar
"border-navy": "#1e293b", // Navy 800
 "accent-teal": "#2dd4bf", // Bright Teal 400
"teal-dim": "#134e4a", // Deep Teal

*/

*{
  margin: 0;
  padding: 0;
  background-color: #020617;
  color: white;
}

.navbar-container{
  display: flex;

}

.book-card{
  display: flex;
  flex-direction: column;
  /* align-items:  */
  /* padding: 10px; */
  margin: 20px 7px 20px 20px;
  width: 18vw;
}

.book-cover{
  width: 15vw;
  height: 25vh;
  object-fit: contain;

}

.book-container{
  display: flex;
  flex-wrap: wrap;
  width: 99vw;
}

